.tamanoIcon {
    font-size: 45px;
}


/*DIV DEL COLOR AGREGAR/EDITAR*/
.selected-color-container {
    display: flex;
    align-items: center;
    /* Centra verticalmente los elementos dentro del contenedor */
    margin-bottom: 10px;
    /* Ajusta el margen inferior según sea necesario */
}

.selected-color-container p {
    margin-right: 10px;
    /* Ajusta el espacio entre el texto y el cuadrito de color */
}

/*DIV DEL COLOR  */
.colors-div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Ajusta el espacio entre los bloques de colores */
}




.color-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-div {
    width: 30px;
    /* Ajusta el ancho del bloque de color */
    height: 30px;
    /* Ajusta la altura del bloque de color */
    margin-top: 5px;
    /* Ajusta el espacio superior del bloque de color */
    border: 1px solid #ccc;
    /* Añade un borde alrededor del bloque de color si lo deseas */
}

.color-div-agregar {
    width: 30px;
    /* Ajusta el ancho del bloque de color */
    height: 30px;
    /* Ajusta la altura del bloque de color */
    border: 1px solid #000000;
    /* Añade un borde alrededor del bloque de color si lo deseas */
}


.color-name {
    font-size: 14px;
    /* Ajusta el tamaño del texto del color */
    margin-top: 5px;
    /* Ajusta el espacio superior del texto del color */
}


.tallas-div {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 20px;

}

.color-div {
    height: 40px;
    width: 40px;
    border: 2px solid black;
    margin: 2%;

    flex: 0 0 40px;
    /* Establece el tamaño fijo */
}


@media screen and (max-width: 700px) {

    /* code*/
    .colors-div {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 400px) {

    /* code*/
    .colors-div {
        grid-template-columns: repeat(2, 1fr);
    }

}



.position {
    font-size: 45px;
    margin-left: 210px;
}

.text {
    font-size: 20px;
    margin-left: 180px;
}