
.cards{
    padding: 30px;
    margin-top: -30px;
}

.CardPrincipal{
    
    background: white;
    border-radius: 7px;
    margin-top: 15px;;
    padding: 5px;
    position: relative;
    padding-bottom: 5px;
}

.textDatosGenerales{
  background-color: #47684E;
  color: #fff;
  padding: 10px;
  margin-top: -6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  bottom: 10;
  left: 0;
  width: 100%;

}



.two{
 
    margin: 5px;
    background-color: rgba(182, 174, 174, 0.086);
    border-radius: 35px;
    margin-top: 55px;
    display: block;
}


.textGeneral{
  
    font-size: 15px;
    font-weight: bold;
    margin-top: -9px;
    position: absolute;
    left: 10px;
    margin-left: 15px;
}

.textProveedor{
    font-size: 15px;
    font-weight: bold;
    margin-top: -9px;
    position: absolute;
    left: 10px;
}

.icons{
    font-size: 35px;
    color:#47684e;
    position:relative;
    top: 35px;
    left: 10px;
    text-align: center;
    
}



.Cantidad{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 9px;

}

.botonInfo{
    font-size: 14px;
    background-color: #000000;
    transition: background-color 0.3s;
    position: relative;
    top: 15px;
    
}

.botonInfo:hover{
 background-color: #47684E;
}

.textBoton{
    margin-right: 16px;
    color: white;
}



.btnIcons{
    text-align: center;
    position: absolute;
    left: 90px;
    margin-top: -17px;
    color: white;
    transition: color 0.3s;

}

.btnIcons:hover{
    color: #000000;
}








.cardsNavBar{
    margin-top: -25px;
    border-radius: 15px;
    padding: 1%;
 

}




.textGrafica{
    text-align: center;
    font-size: 25px;
}





.containerHeaderTable{

    background: white;
    padding: 20px;
    background-color: #f8f8f8;
    margin-top: 4%;
    border-radius: 7px; 
    border-top-left-radius: 0px;
    border-top-right-radius: 0x;







   
}


 

.iconsCarrusel{
    font-size: 25px;
    position: relative;
    top: -110px;
}

.iconsCarruselD{
    margin-left: 900px ;
    position: relative;
    top: -110px;
    font-size: 25px;
    left: 35px;
}

.iconsE{

    font-size: 35px;
    color:#47684e;
    position:relative;
    left: 150px;
    top: 35px;
    text-align: center;

}

.NombreStar{
    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 9px;

}

.star{
    font-size: 35px;
    color:#47684e;
    position:relative;
    right: 5px;
    top: 35px;
    text-align: center;
}

.textCompras{

    text-align: center;
    font-weight: bold;
    margin-top: -9px;
    
}

.textBotonC{

    margin-right: 16px;
    color: white;

}

.botonInfoC{
    font-size: 14px;
    background-color: #000000;
    transition: background-color 0.3s;
    position: relative;
    top: 15px;
    margin-left: 150px;
}

.botonInfoC:hover{
    background-color: #47684E;
}

.botonInfoF{
    font-size: 14px;
    background-color: #000000;
    transition: background-color 0.3s;
    position: relative;
    top: 15px;
    margin-left: 80px;
}

.botonInfoF:hover{
    background-color: #47684E;

}

.textGeneralMas{
    font-size: 15px;
    font-weight: bold;
    margin-top: -9px;
    position: absolute;
    left: 110px;
}
  

  /* .PDF{

    font-size: 14px;
    background-color: #000000;
    transition: background-color 0.3s;
    position: relative;
    top: 15px;

  } */

.iconsNotificacion{
    position: absolute;
    margin-left: 90%;
    margin-top: -70px;
    font-size: 30px;


}

.cantidadNotificacion{
    position: absolute;
    margin-left: 89%;
    margin-top: -75px;
    font-size: 8px;
    font-weight: bold;
    background: #47684E;
    padding: 5px;
    border-radius: 100px;
    color: #fff;

}


.Notificacion{

    position: relative;
    margin-left: 90%;

}

.graficaPrendas{
    width: 100%;
    max-width:600px ;
    height: 300px;
    margin-left: 15%;
}
 

 


  
  
  

  

