
.cards{
    padding: 30px;
    margin-top: -30px;
}

.CardPrincipal{
    
    background: white;
    border-radius: 7px;
    margin-top: 15px;;
    padding: 5px;
    position: relative;
    padding-bottom: 5px;
}

.textDatosGenerales{
  background-color: #47684E;
  color: #fff;
  padding: 10px;
  margin-top: -6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  bottom: 10;
  left: 0;
  width: 100%;

}



.two{
 
    margin: 5px;
    background-color: rgba(182, 174, 174, 0.086);
    border-radius: 35px;
    margin-top: 55px;
    display: block;

    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center;


}


.textGeneral{
  
    font-size: 15px;
    font-weight: bold;
    margin-top: -9px;
    position: absolute;
    left: 10px;
    margin-left: 15px;
}

.textProveedor{
    font-size: 15px;
    font-weight: bold;
    margin-top: -9px;
    position: absolute;
    left: 10px;
}

.icons{
    font-size: 35px;
    color:#47684e;
    position:relative;
    top: 35px;
    left: 10px;
    text-align: center;
    
}



.Cantidad{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 9px;

}

.Boton{
    position: relative;
    left: -13%;
    top: 10px
}

.botonInfo{

    background-color: #000000;
    transition: background-color 0.3s;
    position: relative;
    width: 125%;
    transform: scale(0.9);

}

.botonInfo:hover{

    background-color: #47684E;


}


.textBotonG{

    font-size: 14px;
    color: white;
    position: relative;
    left: -12px;
    font-weight: 500
}

.botonInfoC{
    background-color: #000000;
    transition: background-color 0.3s;
    position: relative;
    top: 15px;
    margin-left: 120px;
}

.BotonPdfUltimosSieteDias{
    margin-right: 16px;
    color: white;
}



.textBoton{
    margin-right: 16px;
    color: white;
}




.btnIcons{
    position: absolute;
    left: 140px;
    margin-top: -17px;
    color: white;

}


.btnIconsPDFUltimosSieteDias{

    text-align: center;
    position: absolute;
    left: 165px;
    margin-top: -17px;
    color: white;
    transition: color 0.3s;

}

.btnIconsPDFUltimosSieteDias:hover{

    color: #000000;
}


.btnIconsPDFB{

    text-align: center;
    position: absolute;
    left: 170px;
    margin-top: -17px;
    color: white;
    transition: color 0.3s;

}

.btnIconsPDFB:hover{

    color: #000000;


}








.cardsNavBar{
    margin-top: -25px;
    border-radius: 15px;
    padding: 1%;
 

}




.textGrafica{
    text-align: center;
    font-size: 25px;
}





.containerHeaderTable{

    background: white;
    padding: 20px;
    background-color: #f8f8f8;
    margin-top: 4%;
    border-radius: 7px; 
    border-top-left-radius: 0px;
    border-top-right-radius: 0x;
}


 

.iconsCarrusel{
    font-size: 25px;
    position: relative;
    top: -110px;
}

.iconsCarruselD{
    margin-left: 900px ;
    position: relative;
    top: -110px;
    font-size: 25px;
    left: 35px;
}



.iconsE{

    font-size: 35px;
    color:#47684e;
    position: absolute;
    left: 100px;
    top: 35px;


}


  
 
.NombreStar{
    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 9px;

}

.star{
    font-size: 35px;
    color:#47684e;
    position:relative;
    right: 5px;
    top: 35px;
    text-align: center;
}

.textCompras{

    text-align: center;
    font-weight: bold;
    margin-top: -9px;
    
}

.textBotonC{

    margin-right: 16px;
    color: white;

}



.btnIconsStar{

    text-align: center;
    position: absolute;
    left: 55px;
    margin-top: -17px;
    color: white;
    transition: color 0.3s;

}






.botonInfoC:hover{
    background-color: #47684E;
}

.botonInfoF{
    font-size: 14px;
    background-color: #000000;
    transition: background-color 0.3s;
    position: relative;
    top: 15px;
    margin-left: 80px;
}

.botonInfoF:hover{
    background-color: #47684E;

}

.textGeneralMas{
    font-size: 15px;
    font-weight: bold;
    margin-top: -9px;
    position: absolute;
    left: 110px;
}
  

  .PDF{
    position: absolute;
    margin-left: 95%;
    margin-top: -10px;
    font-size: 20px;
    transition-duration: 0ms;
  }


  .Lupa{

    position: absolute;
    margin-left: 92%;
    margin-top: -9px;
    font-size: 20px;
    transition-duration: 0ms;


   }

   .Lupa:hover{
    color: #47684E;
   }

  .PDF:hover{

    color: #47684E;
   
  }


.iconsNotificacion{
    position: absolute;
    margin-left: 90%;
    margin-top: -70px;
    font-size: 30px;
    transition: 0ms;
}

.iconsNotificacion:hover{
    color: #47684E;
   
}



.cantidadNotificacion{
    position: absolute;
    margin-left: 89%;
    margin-top: -75px;
    font-size: 8px;
    font-weight: bold;
    background: #47684E;
    padding: 5px;
    border-radius: 100px;
    color: #fff;

}


.Notificacion{

    position: relative;
    margin-left: 90%;

}

.informe{

    position: relative;
    margin-left: 94%;
    top: -22px

}

.buscarInforme{

    text-align: center;
    position:absolute;
    background-color:#000000;
    left: 75%;
    top: 20px;
    color: white;
    border-radius: 7px;

}


.buscarInforme:hover{

    background-color: #47684E;
}

.graficaInforme{
    margin-top: 10px;
    height: 400px
}

.graficaPrendas{
    height: 400px

}








.recibo {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.total {
    margin-top: 20px;
    text-align: right;
}
  



 

 

@media only screen and (max-width: 767px) {




    .iconsE{

        position : absolute;
        top: 30%;
        left :10%;

            
    }

    .botonInfoC{
        right: 30% ;
        width: 55%;
    }

    

    .btnIcons{
        position: relative;
        left: 65px;
    }

    .botonInfoF{

        width: 150%;
        right: 80%

    }

   .two{
    
        transform: scale(0.7);   
        margin: 0;
        margin-top: 55px;
        right: 10%;
   }

   .iconsCarruselD{

    margin-left: 0;
    position: relative;
    left: 1800%;
   }

   .iconsCarrusel{

    right: 50%;
   }

   .textDatosGenerales{

  color: #fff;
  padding: 10px;
  margin-top: -6px;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
   }

   .prueba{
    margin: 0;
    width: 27%;
    margin-top: -30px;
   }

   .Cantidad{
    left: 30px;
    text-align: center;
   }

   .botonInfo{
    width: 164%;
    right: 45%;
   }

   .textBotonG{

    margin-left: 0;
    font-size: 15px;
    color: #f8f8f8;
   }

   .FrecuenteResponsivo{
    width: 35%;
    margin-top: -50px;
    height: 10%;

   }


   .textGeneralMas{

    text-align: center;
    left: 20%;

   }

   .NombreStar{

    transform: scale(0.7);
    right: 150%;

   }

  

   .responsiGrafica{

    margin-top: -20px;
   }

   .PDF{

    right: 5%;
   }


   

   .graficaPrendas{

    right: 150%;
  


}


.iconsNotificacion{
    
    font-size: 25px;
}

  
}









  
  
  

  

