/* Login.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-section {
    background: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
  }
  
  .form-box {
    display: flex;
    justify-content: space-between;
  }
  
  form {
    width: 45%;
  }
  
  .input-box {
    position: relative;
    margin: 20px 0;
  }
  
  .icon {
    position: absolute;
    top: 12px;
    left: 15px;
    color: gray;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .btn {
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .register-link {
    text-decoration: none;
  }
  