/* .buscador {
    padding: 0;
    margin: 0;

    margin-right: -650px;
}

.ap {
    padding: 0;
    margin: 0;
    margin-left: -650px;
} */

#identificacionGuardar {
    width: 380px;
    float: right;

}

#identificacionEditar {
    width: 380px;
    float: right;

}

.atras {

    margin-left: 50px;

}

.customer {
    width: 100%; /* Cambiado a un porcentaje para ser más flexible */
    max-width: 740px; /* Establece un ancho máximo para evitar que se extienda demasiado en pantallas grandes */
}

.customerr {
    margin-top: 6px;
}

.bottonDiseno {
    margin-right: 52%; /* Puedes ajustar el porcentaje según tus necesidades */
}


.modal{
    margin-left: 300px;
}

.custom {
    width: 800px; /* Ancho máximo del modal */
    margin: 1.75rem auto; /* Margen superior e inferior */
  }
