/* .buscador {
    padding: 0;
    margin: 0;

    margin-right: -650px;
}

.ap {
    padding: 0;
    margin: 0;
    margin-left: -650px;
} */

#identificacionGuardar {
    width: 380px;
    float: right;

}

#identificacionEditar {
    width: 380px;
    float: right;

}

.atras {

    margin-left: 50px;

}

.customer {
    width: 100%; /* Cambiado a un porcentaje para ser más flexible */
    max-width: 380px;
    margin-top: 5px; 
}

.customerr {
    margin-top: 1.5%; /* Utilizando porcentaje para el margen superior */
}

.bottonDiseno {
    margin-right: 52%; /* Utilizando porcentaje para el margen derecho */
}
