.buscador{
    padding: 0;
    margin: 0;

    margin-right: -650px;
} 

.ap{
    padding: 0;
    margin: 0;
     margin-left: -650px; 
} 

#identificacionGuardar{
    width: 380px;
    float: right;
    
}

#identificacionEditar{
    width: 380px;
    float: right;
    
}

.atras{

    margin-left: 50px;
  
} 

.szs {
    display: inline-block;
    /* border: 1px solid black; */
    margin-right: 15px; 
    margin-top: 10px;
    width: 250px;/* Agrega un margen derecho para separar los elementos en línea */
  }

  .szss {
    display: inline-block;
    /* border: 1px solid black; */
    position: relative;
    bottom: 30px

  }
  
  
  #formularioAgregarProducto {
    width: auto; /* Puedes eliminar el ancho específico para que se ajuste al contenido */
  }

  .aa{
    /* border: 1px solid black; */
    margin-top: 30px;

  }

