.buscador{
    padding: 0;
    margin: 0;

    margin-right: -570px;
} 

.ap{
    padding: 0;
    margin: 0;

    margin-left: -610px;
   
} 

#identificacionGuardar{
    width: 380px;
    float: right;
    
}

#identificacionEditar{
    width: 380px;
    float: right;
    
}

